@import url("https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css");

:root {
  --font-main: "lato", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-h1: 48px;
  --fs-h2: 40px;
  --fs-h3: 32px;
  --fs-h4: 24px;
  --fs-h5: 20px;
  --fs-h6: 18px;

  --fs-body-large: 18px;
  --fs-body-medium: 16px;
  --fs-body-small: 14px;
  --fs-caption-1: 12px;
  --fs-caption-2: 10px;

  /* Main Primary */
  --color-primary-default: rgb(50, 84, 255);
  --color-primary-100: rgb(36, 63, 219);
  --color-primary-200: rgb(25, 45, 183);
  --color-primary-300: rgb(15, 30, 147);
  --color-primary-400: rgb(9, 20, 122);

  /* Text Colors */
  --text-dark-primary: rgba(58, 53, 65, 0.871);
  --text-dark-secondary: rgba(58, 53, 65, 0.678);
  --text-dark-disabled: rgba(58, 53, 65, 0.38);

  --text-light-primary: rgb(255, 255, 255);
  --text-light-secondary: rgb(193, 194, 196);
  --text-light-disabled: rgba(231, 227, 252, 0.38);

  /* Others */
  --bg-paper: rgb(34, 40, 42);
  --bg-page: rgba(24, 26, 28, 1);
  --bg-page-header: rgb(24, 26, 28);
  --bg-extra: rgb(61, 65, 66);
  --border-outline: rgba(231, 227, 252, 0.231);
  --border-input: rgba(231, 227, 252, 0.22);
  --bg-input-field: rgba(231, 227, 252, 0.039);
  --bg-chip: rgba(231, 227, 252, 0.078);

  /* Info */
  --color-info-default: rgb(5, 134, 255);
  --color-info-hover: rgb(3, 103, 219);
  --color-info-pressed: rgb(2, 77, 183);
  --color-info-bg: rgba(205, 241, 255, 0.302);

  /* Success */
  --color-success-default: rgb(159, 224, 74);
  --color-success-hover: rgb(126, 192, 54);
  --color-success-pressed: rgb(96, 161, 37);
  --color-success-bg: rgba(244, 253, 219, 0.8);

  /* Warning */
  --color-warning-default: rgb(255, 231, 15);
  --color-warning-hover: rgb(219, 196, 10);
  --color-warning-pressed: rgb(183, 162, 7);
  --color-warning-bg: rgba(255, 252, 207, 0.8);

  /* Error (Red) */
  --color-error-default: rgb(255, 91, 58);
  --color-error-hover: rgb(219, 58, 42);
  --color-error-pressed: rgb(183, 31, 29);
  --color-error-bg: rgba(255, 234, 215, 0.502);

  /* --- Greyscale --- */
  --grey-900: rgb(33, 33, 33);
  --grey-800: rgb(66, 66, 66);
  --grey-700: rgb(97, 97, 97);
  --grey-600: rgb(117, 117, 117);
  --grey-500: rgb(158, 158, 158);
  --grey-400: rgb(189, 189, 189);
  --grey-300: rgb(224, 224, 224);
  --grey-200: rgb(238, 238, 238);
  --grey-100: rgb(245, 245, 245);
  --grey-50: rgb(250, 250, 250);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: var(--text-light-primary);
  font-size: var(--fs-caption-2);
  letter-spacing: 0.2px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--text-light-primary);
}

::placeholder {
  color: var(--text-light-secondary);
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
  letter-spacing: 0.12px;
}

@media (min-width: 768px) {
  ::placeholder {
    letter-spacing: 0.2px;
  }
  body {
    font-size: var(--fs-body-medium);
  }
}
