.form__group {
  padding-bottom: 20px;
}

.form__label {
  display: block;
  padding-bottom: 3.5px;
  font-weight: var(--fw-medium);
}

.form__input {
  width: 100%;
  height: 28px;
  padding: 8px 12px;
  background-color: transparent;
  border: 0.58px solid var(--border-outline);
  border-radius: 12px;
  color: var(--text-light-secondary);
}

.form__password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form__password-wrapper .form__input {
  width: 100%;
  padding-right: 45px;
}

.form__toggle-password {
  position: absolute;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--text-light-disabled);
  cursor: pointer;
}

.form__toggle-password svg {
  width: 12px;
  height: 12px;
}

@media (min-width: 768px) {
  .form__group {
    padding-bottom: 37px;
  }

  .form__label {
    margin-bottom: 6px;
    font-size: 18px;
  }

  .form__input {
    height: 50px;
    padding: 14px 20px;
    border: 1px solid var(--border-outline);
    border-radius: 24px;
    font-size: var(--fs-body-medium);
  }

  .form__toggle-password {
    right: 20px;
  }

  .form__toggle-password svg {
    width: 20px;
    height: 20px;
  }
}
