.auth__layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth__layout--login {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/backgrounds/bg-login.webp);
}

.auth__layout--register {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/backgrounds/bg-register.webp);
}

.auth__card {
  width: clamp(306px, 85%, 529px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: clamp(24px, 18.6667px + 1.4815vw, 40px);
  background-color: rgba(24, 26, 28, 0.839);
  border-radius: 8px;
}
.auth__logo {
  width: clamp(94px, 71px + 6.3889vw, 163px);
  height: auto;
}

.auth__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.auth__title {
  font-size: clamp(18px, 13.3333px + 1.2963vw, 32px);
  font-weight: var(--fw-bold);
}

.auth__subtitle {
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
  color: var(--text-light-primary);
}

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 14.3333px + 1.5741vw, 37px);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__label {
  font-size: clamp(10px, 7.3333px + 0.7407vw, 18px);
  font-weight: var(--fw-medium);
}

.form__input {
  width: 100%;
  height: clamp(28px, 20.6667px + 2.037vw, 50px);
  padding: 8px 12px;
  background-color: transparent;
  border: 0.58px solid var(--border-outline);
  border-radius: 12px;
  color: var(--text-light-secondary);
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
}

.form__password-section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form__password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form__input--password {
  padding-right: 45px;
}

.form__toggle-password {
  position: absolute;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: var(--text-light-disabled);
  cursor: pointer;
}

.form__toggle-icon {
  width: 12px;
  height: 12px;
}

.auth__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth__option-text {
  color: var(--text-light-secondary);
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
}

.auth__link {
  font-weight: var(--fw-medium);
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
}

.form__actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.btn {
  height: clamp(30px, 23.3333px + 1.8519vw, 50px);
  border: 0.58px solid var(--border-outline);
  border-radius: 14px;
  color: var(--text-light-primary);
  background-color: transparent;
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
  font-weight: var(--fw-semibold);
  text-align: center;
}

.btn--login {
  background-color: var(--bg-extra);
}

.auth__divider {
  color: var(--text-light-disabled);
  font-size: clamp(10px, 8px + 0.5556vw, 16px);
  font-weight: var(--fw-medium);
  text-align: center;
}

.btn--google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--border-outline);
}

.btn__google-icon {
  transform: translateY(-1px);
}

@media (min-width: 768px) {
  .auth__card {
    border-radius: 16px;
  }

  .auth__header {
    gap: 8px;
  }

  .auth__title {
    line-height: 1.1;
  }

  .form__group {
    gap: 6px;
  }

  .form__input {
    padding: 14px 20px;
    border: 1px solid var(--border-outline);
    border-radius: 24px;
  }

  .form__password-section {
    gap: 12px;
  }

  .form__toggle-password {
    right: 20px;
  }

  .form__toggle-icon {
    width: 20px;
    height: 20px;
  }

  .form__actions {
    gap: 8px;
  }

  .btn {
    border-radius: 25px;
  }

  .btn__google-icon {
    width: 18px;
  }
}
